@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: "#2B2D42";
  --background-white: "#EDF2F4";
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Setup dark mode colors later */
  }
}

body {
  color: var(--primary);
  background: var(--background-white);
}
